.sidebar{
    background: #BDBDBD;
    display: flex;
    flex-direction: column;
    padding: 20px 35px 26px;
    height: 100%;
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        margin-bottom: 0;
    }
}